# --- Environnement virtuel ---
venv/
.venv/
env/

# --- Sécurité & Secrets (CRITIQUE) ---
.env
instance/
.pytest_cache/
secrets.py

# --- Python & Cache ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# --- Bases de données ---
# On ignore SQLite car tu es passé sur PostgreSQL (qui est externe au dossier)
*.db
*.sqlite3

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs ---
*.log